.box.clearfix
  %h2 Send a post

  In order to send a post to the newsletter, fill the email fields witht the following information:

  %ul
    %li
      %strong To:
      klarna.newsletter@gmail.com
    %li
      %strong Subject:
      The title of the post
    %li
      %strong Body:
      Content of the post formatted in Markdown

  Please make sure that you remove your signture from the email body.

  %h3 Example

  %div.img-centered
    = image_tag 'how_to.png'
