GOOGLE_OAUTH_TOKEN_URL: https://www.googleapis.com/oauth2/v1/tokeninfo

production:
  GOOGLE_OAUTH_KEY:
  GOOGLE_OAUTH_SECRET:
  GMAIL_USERNAME: klarna.newsletter@gmail.com
  GMAIL_PASSWORD: <password>

development:
  GOOGLE_OAUTH_KEY:
  GOOGLE_OAUTH_SECRET:
  GMAIL_USERNAME:
  GMAIL_PASSWORD:
