development:
  adapter: postgresql
  host: localhost
  username: <your-username>
  database: newsletter-development

test:
  adapter: postgresql
  host: localhost
  username: <your-username>
  database: newsletter-test

production:
  adapter: postgresql
  host: localhost
  username: <your-username>
  database: newsletter-production
