development:
  adapter: postgresql
  host: localhost
  username: damselem
  database: klarna-newsletter-development

test:
  adapter: postgresql
  host: localhost
  username: damselem
  database: klarna-newsletter-test

production:
  adapter: postgresql
  host: localhost
  username: damselem
  database: klarna-newsletter-production

