!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'email.css'}
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %table#klarna-newsletter{:align => 'center'}
      %tbody
        %tr
          %td
            = image_tag 'klarna_blue_logo.png'
            - @posts.each do |post|
              %div.wrapper
                %div.header
                  = link_to post.title, post_path(post)
                %div
                  = post.body
